* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao|Long+Cang|Ma+Shan+Zheng|ZCOOL+KuaiLe|ZCOOL+QingKe+HuangYou|ZCOOL+XiaoWei&display=swap&subset=chinese-simplified');

/* 设置背景样式 */
body {
    background: no-repeat;
    background-size: cover;
}

/* 设置标题样式 */

div img {
    box-shadow: 5px 5px 15px rgba(105, 105, 105, 0.9);
    border-width: 10px 12px;
    border-color: #b4e8ef;
    border-style: solid;
    transition: all 0.5s ease-in;
    z-index: 10;
}

.picture {
    width: 1200px;
    height: 775px;
    margin: 0px auto;
    /* align: center; */
    position: relative;
    padding-top: 50px;
    margin-bottom: 100px;
}

img:hover {
    z-index: 100;
}

.ribbon {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 450px;
    top: 35px;
    margin: auto;
}



.ribbon a:link,
.ribbon a:visited {
    color: #000;
    text-decoration: none;
    height: 3.5em;
    overflow: hidden;
}

.ribbon span {
    background: #E6E6FA;
    display: inline-block;
    line-height: 3em;
    padding: 0 1.5em;
    margin-top: 0.5em;
    position: relative;
    -webkit-transition: background-color 0.2s, margin-top 0.2s;
    /* Saf3.2+, Chrome */
    -moz-transition: background-color 0.2s, margin-top 0.2s;
    /* FF4+ */
    -ms-transition: background-color 0.2s, margin-top 0.2s;
    /* IE10 */
    -o-transition: background-color 0.2s, margin-top 0.2s;
    /* Opera 10.5+ */
    transition: background-color 0.2s, margin-top 0.2s;
}

.ribbon a:hover span {
    background: #FFD204;
    margin-top: 0;
}

.ribbon span:before {
    content: "";
    position: absolute;
    top: 3em;
    left: 0;
    border-right: 0.5em solid #9B8651;
    border-bottom: 0.5em solid #fff;
}

.ribbon span:after {
    content: "";
    position: absolute;
    top: 3em;
    right: 0;
    border-left: 0.5em solid #9B8651;
    border-bottom: 0.5em solid #fff;
}

.content {
    position: absolute;
    top: 900px;
    left: 20px
}

.head {
    z-index: 999;
}

.dot {
    position: fixed;
    top: 50px;
    right: 0;
    z-index: 8888;
    background-color: rgba(0, 0, 0, .75);
    padding: 20px;
    cursor: pointer;
}

.dot span {
    display: block;
    width: 45px;
    border-top: 5px #fff solid;
    margin-bottom: 10px;
}